<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .admin-custom-profile-link {
            margin-right: 25px;
            width: 100%;
            text-align: end;
        }
    </style>
</head>
<body>
    <div class="wrapper">

       @* side bar*@
        <div class="side-bar bg-primary">
            <div class="sider-bar-top bg-success">
                <a asp-area="Admin" asp-controller="Dashboared" asp-action="Index">
                    <img src="~/images/customImages/adminLogo.png" alt="">
                    <h4>Easy Tricks</h4>
                </a>


            </div>
            <div class="menu-item">
                <ul>
                    <li class="nav-title">Manage Article</li>

                    <li class="sidebar-item">
                        <a class="" data-bs-toggle="collapse" href="#collapseArticleManange" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-newspaper"></i> Article

                            <div class="sub-menu ">
                                <ul id="collapseArticleManange" class="collapse">
                                    <li>
                                        <a asp-area="Admin" asp-controller="Articles" asp-action="Upsert"><i class="fa-solid fa-file-pen"></i> Create Article </a>
                                    </li>
                                    <li><a asp-area="Admin" asp-controller="Articles" asp-action="Index"><i class="fa-solid fa-gears"></i> Manage Article </a> </li>
                                </ul>
                            </div>

                        </a>

                    </li>

                 

                    <li class="sidebar-item">
                        <a class="" data-bs-toggle="collapse" href="#collapseCategoriesManage" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-newspaper"></i> Category

                            <div class="sub-menu ">
                                <ul id="collapseCategoriesManage" class="collapse">
                                    <li>
                                        <a asp-area="Admin" asp-controller="Categories" asp-action="Upsert"><i class="fa-solid fa-file-pen"></i> Create Category </a>
                                    </li>
                                    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-gears"></i> Manage Category </a> </li>
                                </ul>
                            </div>

                        </a>

                    </li>


                    <li class="sidebar-item">
                        <a class="" data-bs-toggle="collapse" href="#collapseSubCategoriesManage" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-newspaper"></i> Sub Category

                            <div class="sub-menu ">
                                <ul id="collapseSubCategoriesManage" class="collapse">
                                    <li>
                                        <a asp-area="Admin" asp-controller="SubCategories" asp-action="Upsert"><i class="fa-solid fa-file-pen"></i> Create Sub-Category </a>
                                    </li>
                                    <li><a asp-area="Admin" asp-controller="SubCategories" asp-action="Index"><i class="fa-solid fa-gears"></i> Manage Sub-Category </a> </li>
                                </ul>
                            </div>

                        </a>

                    </li>





                </ul>


                <ul>
                    <li class="nav-title">User Control</li>

                    <li class="sidebar-item">
                        <a class="" data-bs-toggle="collapse" href="#collapseUserManange" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-newspaper"></i> User

                            <div class="sub-menu ">
                                <ul id="collapseUserManange" class="collapse">
                                    <li>
                                        <a asp-area="Admin" asp-controller="AccessManagers" asp-action="UserList"><i class="fa-solid fa-file-pen"></i> All User </a>
                                    </li>
                                    <li><a asp-area="Admin" asp-controller="AccessManagers" asp-action="UserManager"><i class="fa-solid fa-gears"></i> Manage User </a> </li>
                                </ul>
                            </div>

                        </a>

                    </li>



                    <li class="sidebar-item">
                        <a class="" data-bs-toggle="collapse" href="#collapseRoleManage" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-newspaper"></i> Role

                            <div class="sub-menu ">
                                <ul id="collapseRoleManage" class="collapse">
                                    <li>
                                        <a asp-area="Admin" asp-controller="AccessManagers" asp-action="UpsertRole"><i class="fa-solid fa-file-pen"></i> Create Role </a>
                                    </li>
                                    <li><a asp-area="Admin" asp-controller="AccessManagers" asp-action="RoleManager"><i class="fa-solid fa-gears"></i> Manage Role </a> </li>
                                </ul>
                            </div>

                        </a>

                    </li>


                    





                </ul>
            </div>
        </div>

       
        
        
        <div class="section bg-success">
            <div class="top-menu bg-success">
                <div class="hamburger">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                   
                </div>

                <div class="dropdown admin-custom-profile-link">
                    <a class="bordered user-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="user-image-navbar" src="~/images/customImages/user-icon.jpg">
                        <span class="user-name text-light">SA </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="nav-item">
                            <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello SA!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="content-wrapper">
            <div class="admin-content">
                <partial name="_NotificationPartial.cshtml" />
                @RenderBody()
            </div>

        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/vtbphvlrizn575somatoppec5uys5et78jnsbq7dma5ei3vg/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        let hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
          
            document.querySelector("body").classList.toggle("active");
            document.querySelector("body").classList.toggle("content-active");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
