<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyTricks.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyTricks.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/content.css" />
    <style>


         footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #303952;
            color: #fff;
            font-size: 14px;
            line-height: 21px;
            padding: 15px 0;
        }

        .footer-column {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

       .copyright {
            opacity: .5;
        }

        .contact-line  {
            opacity: .5;
        }

        .social-networks {
            text-align: center;
            line-height: 0;
            margin-top: 15px;
        }

            .social-networks .social-icon {
                display: inline-block;
                height: 30px;
                margin: 0 8px;
                opacity: .5;
            }

        a.social-icon {
            color: #303952;
            text-decoration: none;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img class="nav-image" src="~/images/customImages/logo.png" /> Easy Tricks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboared" asp-action="Index">Dashboared</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="SimpleUser" asp-controller="ABCD" asp-action="Index">ABCD</a>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="particles-js">
    <div class="container">
        
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
       
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 footer-column">
                    <div class="copyright">© 2019 denrox.com All Rights Reserved</div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="contacts">
                        <div class="contact-line">My name is Shamsul Arifin,</div>
                        <div class="contact-line"><span>You can contact me via email </span><a href="mailto:arifin.engr.cse@gmail.com">arifin.engr.cse@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 social-networks">
                    <a href="https://www.facebook.com/arifin.engr.bd" target="__blank" rel="nofollow"><i class="fa-brands fa-facebook"></i></a>
                    <a class="social-icon" href="https://www.linkedin.com/in/shamsul-arifin-002911183/" target="__blank" rel="nofollow"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="social-icon" href="https://github.com/arifin-engr" target="__blank" rel="nofollow"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
